* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.btn {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  background-color: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  color: white;
}
.logo {
  height: 31px;
  width: 216px;
  margin-bottom: 10px;
  background: no-repeat center / cover url(/travel/images/icons/logo.svg);
}
.nav-list,
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list{
  margin-right: 40px;
  width: 525px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.nav-button {
  width: 103px;
  height: 41px;
  font-size: 16px;
}

.main-page {
  padding: 122px 0 254px;
  background: no-repeat center / cover url(/travel/images/main-img.jpg);
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-family: 'Aleo', serif; */
}
.main-title {
  max-width: 892px;
  font-family: 'Aleo', serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.main-text {
  margin-top: 32px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-wrap {
  margin-top: 46px;
  max-width: 892px;
  padding: 18px 18px 18px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.search-input {
  width: 500px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.search-input::placeholder {
  color: #F2785C;
}
.search-button {
  width: 228px;
  height: 59px;
  font-size: 24px;
}